<div class="container" style="background-color:#fff;box-shadow:1px 2px 10px #888888; margin-bottom: 20px;">
    <div class="page-header">
        <h1>Code and Experience </h1>
        <p class="text-center hidden-xs">Below are all the types of programming languages and skills i've accumulated over the years as well as some examples and tutorials.</p>
    </div>

    <div class="features-boxed">
            <div class="row features" style="background-color:#fff;">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><i class="glyphicon glyphicon-briefcase icon"></i>
                        <h3 class="name">Completed Systems</h3>
                        <p class="description">Useful systems that can help you upgrade your workflow.<!-- Includes some code and explanations. --></p><div ng-if="s_Compl"><a href="#/NewsBlog/L/Completed Systems">View Examples...</a></div><div ng-if="!s_Compl"><a href="#/Portfolio">View Examples...</a></div></div>
                </div>
                <!--<div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><i class="fa fa-gamepad icon"></i>
                        <h3 class="name"> Just Demos</h3>
                        <p class="description">Demo some neat things. No tutorials, no distracting code, just fun. Want something you see put on your site? Just give me a shoutout!</p><div ng-if="s_JustDe"><a href="#/NewsBlog/L/Just Demos">View Examples...</a></div></div>
                </div>-->
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/bootstrap-solid.png" height="100">
                        <h3 class="name" style="margin-top:15px;">Html/Css/Bootstrap </h3>
                        <p class="description">The backbone of the internet!<!--Examples and tutorials on Html. Also includes things related to Css.--> <!--Tips on how to deal with pesky bugs and errors coming soon.--></p><div ng-if="s_Html"><a href="#/NewsBlog/L/Html Css Bootstrap">View Examples...</a></div><div ng-if="!s_Html"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/Android_Robot_200.png" height="100">
                        <h3 class="name" style="margin-top:15px;">Android </h3>
                        <p class="description">Mobile application development for the Android OS.<!--Download mobile app demos and learn how to make your own versions. Includes tutorials and descriptions.--></p><div ng-if="s_Andr"><a href="#/NewsBlog/L/Android">View Examples...</a></div><div ng-if="!s_Andr"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/angular.svg" height="100">
                        <h3 class="name" style="margin-top:16px;">Angularjs </h3>
                        <p class="description">Learn cool tricks with AngularJS! Angular is a simple platform that makes accessing and rendering data a snap.</p><div ng-if="s_Angular"><a href="#/NewsBlog/L/Angular">View Examples...</a></div><div ng-if="!s_Angular"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/nodejs-new-pantone-black.png" height="100">
                        <h3 class="name" style="margin-top:15px;">NodeJS/Socket.io </h3>
                        <p class="description">Boost your serverside code with Node and Socket! Socket.io allows you to do realtime optimized data streaming when using NodeJS. </p><div ng-if="s_Node"><a href="#/NewsBlog/L/NodeJS">View Examples...</a></div><div ng-if="!s_Node"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/php-med-trans-light.gif" alt="P H P logo" style="margin-top:25px;">
                        <h3 class="name" style="margin-top:40px;">PHP </h3>
                        <p class="description">PHP is a classic programming language used to help obtain and render data from a database.</p><div ng-if="s_PHP"><a href="#/NewsBlog/L/PHP">View Examples...</a></div><div ng-if="!s_PHP"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/logo-mysql-170x115.png" alt="MySQL Logo">
                        <h3 class="name">MySQL </h3>
                        <p class="description">MySQL is the go-to open source database system that allows you to store and access data accross multiple code types.</p><div ng-if="s_MySQL"><a href="#/NewsBlog/L/MySQL">View Examples...</a></div><div ng-if="!s_MySQL"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/unreal_logo_blacklg.png" height="100">
                        <h3 class="name" style="margin-top:15px;">UE4 </h3>
                        <p class="description">Unreal 4 is a fantastic game engine that is used in archetecture development, real time physics calculations, and more. </p><div ng-if="s_UE4"><a href="#/NewsBlog/L/UE4">View Examples...</a></div><div ng-if="!s_UE4"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/NVLogo_2D.png" height="100">
                        <h3 class="name" style="margin-top:15px;">Nvidia Physx </h3>
                        <p class="description">Physx is an NVIDIA technology that allows for massive scale calculations of physics, cloth, destruction, and more!</p><div ng-if="s_Nvidia"><a href="#/NewsBlog/L/Physx">View Examples...</a></div><div ng-if="!s_Nvidia"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;margin-top: 25px;"><img src="assets/img/blender-socket.png" alt="Blender3D logo" width="200px">
                        <h3 class="name" style="margin-top:25px;">Blender3D </h3>
                        <p class="description">Blender3D is a highly versatile 3D and 2D rendering tool. It allows for amazing customizability and rapid prototyping of models and textures.</p><div ng-if="s_Blender"><a href="#/NewsBlog/L/Blender">View Examples...</a></div><div ng-if="!s_Blender"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/SD_Black_Title.png" alt="Blender3D logo" height="100">
                        <h3 class="name" style="margin-top:15px;">Substance Designer</h3>
                        <p class="description">Substance Designer allows you to create compact, powerful materials for work in game and movie production. The dynamic nature of the tool is used to create some of the most efficient and beautiful texture work at a fraction of the resource cost. </p><div ng-if="s_SubDes"><a href="#/NewsBlog/L/Substance Designer">View Examples...</a></div><div ng-if="!s_SubDes"><!--Coming Soon--></div></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box" style="height:333px;"><img src="assets/img/SP_Black_Title.png" alt="Blender3D logo" height="100">
                        <h3 class="name" style="margin-top:15px;">Substance Painter</h3>
                        <p class="description">Substance Painter is the companion tool to Substance Designer. It provides an impressive platform for realtime 3d painting  in a variety of ways including particle brushes and clipping.</p><div ng-if="s_SubPaint"><a href="#/NewsBlog/L/Substance Painter">View Examples...</a></div><div ng-if="!s_SubPaint"><!--Coming Soon--></div></div>
                </div>
            </div>
        </div>
</div>